<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ataque</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'app/img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
     <h1>{{ ataque.nome }} - {{ ataque.pokemon }}</h1>
    <div class='meio'>
 <table class='tabelagrande'>
        <tr>
            <th>#</th>
            <th>NOME</th>
            <th>Usuario</th>
            <th>TIPO</th>
            <th>PP</th>
            <th>POWER</th>
            <th>ACCURACY</th>
            <th colspan="2">AÇÕES</th>
        </tr>
            <tr>
                <td><a href="{% url 'detalhar_ataque' pk=ataque.pk %}"><button class='detalhar'>{{ ataque.id_ataque }}</button></a></td>
                <td>{{ ataque.nome }}</td>
                <td><a href="{% url 'detalhar_pokemon' pk=ataque.pokemon.pk %}">{{ ataque.pokemon }}</a></td>
                <td>{{ ataque.tipo }}</td>
                <td>{{ ataque.pp }}</td>
                <td>{{ ataque.power }}</td>
                <td>{{ ataque.accuracy }}</td>
                <td><a href="{% url 'atualizar_ataque' pk=ataque.pk %}"><button class='atualizar'>Trocar</button></a></td>
                <td><a href="{% url 'deletar_ataque' pk=ataque.pk %}"><button class='deletar'>Esquecer</button></a></td>
            </tr>
    </table>
        <a href="{% url 'listar_ataques'%}"><button class='verde'>Voltar</button></a>
    </div>
</body>
</html>