<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemons</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'app/img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h1 class="titulopagina">POKÉDEX</h1>
    {% if pokemons %}
    <a href="{% url 'listar_ataques' %}"><button class="trocar">Ataques</button></a>
    <table class="tabelagrande">
        <tr>
            <th>#</th>
            <th>NOME</th>
            <th>TIPOS</th>
            <th>ALTURA(hg)</th>
            <th>PESO(dm)</th>
            <th colspan='2'>AÇÕES</th>
        </tr>
        {% for pokemon in pokemons %}
        <tr>
            <td><a href="{% url 'detalhar_pokemon' pk=pokemon.pk %}"><button class='detalhar'>{{ pokemon.id_pokemon }}</button></a></td>
            <td>{{ pokemon.nome }}</td>
            <td>{{ pokemon.tipos }}</td>
            <td>{{ pokemon.altura }}</td>
            <td>{{ pokemon.peso }}</td>
            <td><a href="{% url 'procurar_troca' pk=pokemon.pk %}"><button class="atualizar">Trocar</button></a></td>
            <td><a href="{% url 'deletar_pokemon' pk=pokemon.pk %}"><button class="deletar">Transferir</button></a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class='meio'>
        <div class='mensagem'>
            <p>Nenhum Pokemon Capturado</p>
        </div>
    </div>
    {% endif %}
    <br>
    <button class="cadastrar"><a href="{% url 'procurar_pokemon' %}">Procurar</a></button>
    
</body>
</html>