<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ataques</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
</head>
<body>
    <h1 class='titulopagina'>ATAQUES</h1><a href="{% url 'listar_pokemons' %}"><button class='trocar'>Pokemons</button></a>
    {% if ataques %}
    <table class='tabela'>
        <tr>
            <th>Usuario</th>
            <th>#</th>
            <th>NOME</th>
            <th>TIPO</th>
            <th>PP</th>
            <th>POWER</th>
            <th>ACCURACY</th>
            <th colspan="2">AÇÕES</th>
        </tr>
        {% for ataque in ataques %}
        <tr>
            <td>{{ ataque.pokemon }}</td>
            <td>{{ ataque.id_ataque }}</td>
            <td>{{ ataque.nome }}</td>
            <td>{{ ataque.tipo }}</td>
            <td>{{ ataque.pp }}</td>
            <td>{{ ataque.power }}</td>
            <td>{{ ataque.accuracy }}</td>
            <td><a href="{% url 'atualizar_ataque' pk=ataque.pk %}"><button class='atualizar'>Trocar</button></a></td>
            <td><a href="{% url 'deletar_ataque' pk=ataque.pk %}"><button class='deletar'>Esquecer</button></a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Seus Pokemons não sabem nenhum Ataque</p>
    {% endif %}
    <a href="{% url 'procurar_ataque' %}"><button class='cadastrar'>Aprender</button></a>
</body>
</html>