<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemons</title>
</head>
<body>
    <h1>Pokemons</h1>
    {% if pokemons %}
    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Tipos</th>
            <th>Altura(hg)</th>
            <th>Peso(dm)</th>
            <th colspan='2'>Ações</th>
        </tr>
        {% for pokemon in pokemons %}
        <tr>
            <td>{{ pokemon.id_pokemon }}</td>
            <td>{{ pokemon.nome }}</td>
            <td>{{ pokemon.tipos }}</td>
            <td>{{ pokemon.altura }}</td>
            <td>{{ pokemon.peso }}</td>
            <td><a href="{% url 'procurar_troca' pk=pokemon.pk %}"><button>Trocar</button></a></td>
            <td><a href="{% url 'deletar_pokemon' pk=pokemon.pk %}"><button>Transferir</button></a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Nenhum Pokemon</p>
    {% endif %}
    <br>
    <a href="{% url 'procurar_pokemon' %}"><button>Procurar</button></a>
    
</body>
</html>