<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procurar Ataque</title>
</head>
<body>
    <h1>Procuar Ataque</h1>
    <form action="{% url 'criar_ataque' %}" method="get">
    {% csrf_token %}
    {{ form.pokemon.label_tag}}
    {{ form.pokemon }} <br><br>
    {{ form.nome }} <br><br>
    {% if erro %}
    <p>{{ erro }}</p>
    {% endif %}
    <button type="submit">PROCURAR</button> | <a href="{% url 'listar_ataques' %}"><button type='button'>CANCELAR</button></a>
    </form>
</body>
</html>